*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 3rem;
    background-color: aqua;
}

header p{
    margin-top: 2rem;
    font-size: 1.3rem;
}

#tahmin, #kontrol, #sonuc{
    padding: 1rem;
    border: 3px solid red;
    border-radius: 1rem;
    background-color: darkorange;
    font-size: 1rem;
    color: red;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}

#sonuc{
    font-size: 1.3rem;
    width: 50%;
    margin: auto;
    visibility: hidden;
}

#tekrar{
    visibility: hidden;
    margin-top: 1rem;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 1rem;
    background-color: fuchsia;
    font-size: 1rem;
    color: black;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}

